/* todo o conteudo da pagina  */
/* _______________________________________________________________________________________ */

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Variaveis globais */
:root {

    /* estilização */
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #000000;
    --cor-terciaria: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --cor-quartenaria: #EB9B00;
    --cor-quintenaria: #d3d3d3;

    
    --cor-primaria-interacao: #d3d3d3;

    --fonte-principal: "Poppins"

}

/* pagina toda */
.pagina-principal {

    /* estilização */
    background-color: var(--cor-quintenaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

/* conteudo central da pagina */
/* _______________________________________________________________________________________ */

/*sem conteudo ainda*/

/* conteudo rodape da pagina */
/* _______________________________________________________________________________________ */

/*sem conteudo ainda*/

/* resposividade para celular */
/* _______________________________________________________________________________________ */

/*sem conteudo ainda*/
