@import url("./menu.hamburguer.css");

.cabecalho__inteiro {

    display: flex;
    position: relative;
    padding: 20px 10% 20px 10%;
    justify-content: space-between;
    background-color: var(--cor-primaira);

}

.cabecalho__parte1 {

    display: flex;
    align-items: center;
    gap: 10px;

}

.cabecalho__parte2 {

    display: flex;
    align-items: center;
    gap: 40px;

}

.cabecalho__parte3 {

    display: flex;
    align-items: center;
    gap: 40px;

}

.cabecalho__parte3__compras__cabecalho__parte3__conjunto {

    display: flex;
    align-items: center;
    gap: 40px;

}


.checkbox__botao {

    display: none;

}

.cabecalho__parte1__nome__do__site { 

    font-family: var(--fonte-secundaria);
    font-size: 1.6em;
    font-weight: 400;
    
}    

.cabecalho__parte1__nome__do__site__negrito {

    font-family: var(--fonte-secundaria);
    font-size: 1.25em;
    font-weight: 700;

}  

.cabecalho__parte3__conjunto {

    display: flex;
    align-items: center;
    gap: 10px;

}  

.cabecalho__parte3__nome__icone {

    margin: 5px 0px 0px 0px;
    font-family: var(--fonte-secundaria);
    font-size: 1.25em;
    font-weight: 400;

}  


@media (max-width: 1600px ) {

    .cabecalho__parte3 {

        gap: 60px;
    
    }


    .cabecalho__parte3__nome__icone {

        display: none;
    
    }  
    
}


@media (max-width: 900px ) {

    .cabecalho__inteiro {

        padding: 20px 60px 20px 60px;
        justify-content:space-between;
       
    }

    .cabecalho__parte1 {
       
        gap: 25px;
    
    }

    .cabecalho__parte2 {

        display: none;
    
    }

    .cabecalho__parte1__nome__do__site { 

        display: none;
        
    }   

    .cabecalho__parte3 {

        gap: 20px;
    
    }


}