/* todo principal da pagina banner  */
/* _______________________________________________________________________________________ */

.conteudo__principal__banner {

    background: var(--cor-terciaria);
    text-align: center;
    padding: 2.5em 2.0em;

}  

.conteudo__principal__banner__titulo {

    color: var(--cor-primaria);
    font-size: 18px;
    font-weight: 700;

}

.conteudo__principal__banner__paragrafo {

    color: var(--cor-primaria);
    font-size: 16px;
    font-weight: 500;
    margin: 1em;
} 

.conteudo__principal__banner__caixa__de__pesquisa {

    background: transparent;
    border: 1px solid var(--cor-primaria);
    padding: 1em;
    border-radius: 24px;
    width: 100%;
    color: var(--cor-primaria);
    
}  

.conteudo__principal__banner__caixa__de__pesquisa::placeholder {

    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 14px;
    font-weight: 400;
    background: url(../../Imagens/imagens-codigo/Lupa.svg) no-repeat;
    background-position: 0.5em;
    text-align: right;
    
}     