/* conteudo do cartao da pagina sugestao */
/* _______________________________________________________________________________________ */

.conteudo__principal__card__sugestao {

    display: flex;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    
    margin: 0.8em;
    padding: 1em 0em 1em 0.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    line-height: 20px;
    
}

.conteudo__principal__card__sugestao__esquerda {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 0px 0px ;

}    


.conteudo__principal__card__sugestao__direita {

    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;

}    


.conteudo__principal__card__sugestao__titulo {

    color: var(--cor-quartenaria);
    font-size: 15px;
    font-weight: 700;  
    text-align: left;

}    

.conteudo__principal__card__sugestao__frase__em__destaque {

    background: var(--cor-terciaria);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 700; 
    text-align: left;


} 

.conteudo__principal__card__sugestao__paragrafo {

    color: var(--cor-secundaria);
    font-size: 14px;
    font-weight: 400; 
    text-align: left;

}  

.conteudo__principal__card__sugestao__direta__icones {

    display: inline block;

}    

.conteudo__principal__card__sugestao__botao {

    color: var(--cor-primaria);
    font-size: 16px;
    font-weight: 700;  
    text-align: center;

    background-color: var(--cor-quartenaria);
    
    padding: 1em;
    text-decoration: none;
    width: 70%;
    

}    

/* conteudo do cartao da pagina autor */
/* _______________________________________________________________________________________ */

.conteudo__principal__card__autor__do__mes {

    display: flex;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    
    margin: 0.8em;
    padding: 1em 0em 1em 0.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.conteudo__principal__card__autor__esquerda {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 0px 0px ;

} 

.conteudo__principal__card__autor__direta__icones {

    display: inline block;
    
}    

.estrelinas {

    width: 50%;

}   

.conteudo__principal__card__sugestao__paragrafo {

    line-height: 20px;

}

